
/*FOOTER*/

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(113, 162, 248, 0.3) 95.52%);
    width: 100%;
    
    
    
    
}



.footer__text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: .8rem;
    padding: 7px;
    font-family: 'Open Sans', sans-serif;
    .footer__text--phone {
        a {
            list-style: none;
            text-decoration: none;
            span {
                color: #000;

                &:hover {
                    color: #f00;
                }
            }
        }
    }
    .footer_mail {        
        list-style: none;
        text-decoration: none;
        span {
            color: #000;

            &:hover {
                color: #f00;
            }
        }
        
    }
}

.logo{
    width: 30px;
    height: 30px;
    padding: 5px;
    
}
.logo_mail{
    width: 35px;
    height: 30px;
}

.redes_container_mobile{
    display: none;
}


/*****************************/