/*RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/******************************/

body{
    font-family: 'Inter'
    /*background: rgba(247, 235, 223, 0.5);*/
    
}

.container{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    
    
}



/*SECTION 1*/

.section-1__container{
    
    padding-top: 120px;
    
    
}

.section-1__container__text{
    font-family: 'Open Sans', sans-serif;
    margin:  auto;
    text-align: center;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    
    
}

.section-1__container__text h2{
    font-family: 'Open Sans', sans-serif;    
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #141B30;
}


.section-1__container__text--background{
       
    font-style: normal;
    font-weight: 400;    
    line-height: 24px;
    color: #121828;
    width: 100%;
    padding: 15px 100px 15px 100px;
    font-size: 20px;    
    background: rgba(247, 235, 223, 0.5);
    backdrop-filter: blur(4px);
    
}


.section-1__container__img{
    position: absolute;
    background-image: url(/assetts/Imagenes/background-home.jpg);
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: top;
    background-size: cover;
    z-index: -1;
    height: 1200px;
    top: -161px;
    width: 90%;    
    border-radius: 0% 100% 0% 100% / 68% 0% 100% 32%;
    overflow: hidden;
   
    
    
}



/*****************************/


/*SECTION 2*/
.secction-2{
    margin-top: 200px;
}

.secction-2__container{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.secction-2__container img{
    width: 250px;
}

/*****************************/



