/*RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/******************************/

/*VARIABLES*/
:root{
    --text-color-blue: #141B30;
}

body{
    font-family: 'Inter'
    /*background: rgba(247, 235, 223, 0.5);*/
    
}

.container-web{
    display: flex;
    flex-direction: column;
    
    width: 90%;
    margin: 0 auto;
    
    
    
    
}





/*SECTION 1*/

.section-1__container{
    width: 100%;
    position: relative;
    padding-top: 100px;
    
    
    
}

.section-1__container h3{
    text-align: center;                                      
}

.section-1__container__text{
    font-family: 'Open Sans', sans-serif;
    margin:  auto;
    text-align: center;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    
    
}

#main_text{
    margin-top: 320px;
    
    text-align: center;
    font-family: 'Open Sans', sans-serif;    
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 48px;
    color: var(--text-color-blue)
}



#img_back{
    width: 100%;
    height: 1000px;
    position: absolute;
    top: -200px;
    
    filter: blur(0px);
    z-index: -1;
    opacity: .83;
    object-fit:cover;
}



#img_logo_empresa{
    width: 350px;
    margin: auto;
}



/*****************************/


/*SECTION 2*/
.secction-2{
    width: 100%;
    margin-top: 50px;  
    margin-bottom: 100px; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.card{
    position: relative;
    width: 25rem;
    height: 25rem;
}

.card::after{
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #eacda3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #866c4a, #e4c497);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #866c4a, #e4c497); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    filter: blur(10px);
    z-index: -1;
}


.card-img-top{
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    
}

.card-img-top:nth-child(2){
    border-radius: 0px 0px 5px 5px;
}

.btn-my-card{
    background: linear-gradient( #e4c497, #866c4a);
    text-decoration: none;
    padding: 5px 7px 5px 7px;
    color: #fff;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    transition: all .5s;
}

.btn-my-card:hover{
    color: var(--text-color-blue);
    font-weight: bold;
    transform: scale(2);
    
}



/*****************************/





