/*RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/******************************/



body {
    font-family: 'Open Sans', sans-serif;
    /*background: rgba(247, 235, 223, 0.5);*/
    
}

.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    
    
}


/*SECTION 1*/

.secction-1 { 
    margin: auto;
    width: 100%;
    height: 100vh;
    min-height: 800px;    
    text-align: center;
}

#form__background {
    position: relative;

}

#img_form {    
    width: 700px;    
    opacity: 0.3;
}

.container__form {
    width: 90%;
    position: absolute;
    top: 30px;
    margin: auto;
    left: 0;
    right: 0;
}

.title_form {
    
    width: 70%;
    margin: auto;    
    
    

}

.title_form h1 {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #141B30;
}

.title_form h2 {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #141B30;
}

.form__container {
    margin-top: 40px;
    width: 100%;    
    
    
}


.fieldset_container {
    
    display: flex;
    justify-content: center;
    height: 100px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 14px;
    text-align: left;
    
}

.fieldset_container > div {
    width: 100%;
    height: 60px; 
    margin: auto;   
    display: inline-block;
    margin: 10px 50px 10px 50px;
    text-align: left;
    max-width: 350px;
    
}

.fieldset_container div input {
    width: 100%;
    height: 22px;
    padding: 5px;
    background: rgba(247, 235, 223, 0.5); 
    backdrop-filter: blur(8px);      
    border: 1px solid #555555;
    
    
}

.fieldset_container > div input:focus {
    outline: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

textarea {
    width: 100%;
    background: rgba(247, 235, 223, 0.5);
    backdrop-filter: blur(8px);
    border: none;
    border: 1px solid #555555;
    resize: none;
    padding: 5px;
    outline: none;
    
}

textarea:focus {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.check_container {
    
    background: rgba(247, 235, 223, 0.5);
    backdrop-filter: blur(8px);
    border: 1px solid #555555;
    text-align: left;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


#checkbox {
    width: 20px;
    min-width: 20px;
    height: 20px;
    display: inline-block;
}

#img_check_container {
    display: inline-block;
    width: 70px;
    margin-top: 10px;
    height: 80px;
}

#img_check {
    width: 100%;
}


.button {
    position: relative;
    width: 150px;
    height: 50px;
    font-size: 10x;
    background-color: rgba(247, 235, 223, 0.5);
    border: 1px solid #555555;
    color: black;    
    border-radius: 4px;
    cursor: pointer;
    transition: width .5s, border-radius .5s;
    margin-top: 140px;

}

.button:hover {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.button * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .25s;
}

.icon {
    opacity: 0;
}

.button:focus {
    width: 50px;
    background-color: #44c08a;
    border-radius: 50%;
}

.button:focus .text-btn {
    opacity: 0;
}

.button:focus .icon {
    opacity: 1;
    font-size: 32px;
    transition-delay: .5s;
}

.requiered {
    color: rgb(255, 0, 0);
}

/*****************************/



