/*RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/******************************/
/*GENERALES*/

body{
    font-family: 'Open Sans', sans-serif;
    /*background: rgba(247, 235, 223, 0.5);*/
    
}

.web_container{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    
    
}
/******************************/



/*SECTION 1*/

.secction-1{
    text-align: center;
    width: 100%;
	
    
    
}

.rrhh-container{	
	background-image: url(/assetts/Imagenes/rrhh_img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: -550px 70px;
	width: 100%;	
	margin-top: -161px;
	padding-top: 161px;
	margin-bottom: 1px;
	
	
}

.rrhh-container__text{
	font-family: 'Open Sans', sans-serif;
}

.rrhh-container__text h1{
	padding-top: 20px;
	font-size: 32px;
	margin-bottom: 20px;
	color: #141B30;;
	
}

.rrhh-container__text p{
	margin-left: 50%;
	text-align: left;
}


.form__container{
	width: 100%;
	margin: auto;
	
	
}


.form__container form{
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: flex-start;
	text-align: left;
	margin-top: 30px;
	margin-left: 50%;
	font-family: 'Open Sans', sans-serif;
}

.form__container form label{
	padding: 4px;
}

.form__container form input{
	margin: 0 0 25px 0;
	background-color: rgba(255, 255, 255, 0);
	outline: none;
	border: none;
	border-bottom: 2px solid rgba(190, 205, 224, 1);
	width: 70%;
	padding: 7px 7px 2px 7px;
	font-family: 'Open Sans', sans-serif;
}

.area_cv{
	margin: 10px 0 20px 0;
}

.area_cv p{
	padding-bottom: 15px;
}

.area_cv button{
	border: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	padding: 7px;
	background: linear-gradient(180deg, rgba(216, 150, 88, 0.21) 0%, rgba(81, 57, 34, 0.21) 99.98%, rgba(131, 143, 157, 0.21) 99.99%, rgba(143, 115, 89, 0.21) 100%);
}


.requiered{
	color: rgb(255, 0, 0);
}

#btn_submit{
	border: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	padding: 7px;
	margin: auto;
	margin-top: 70px;
	background: linear-gradient(180deg, rgba(216, 150, 88, 0.21) 0%, rgba(81, 57, 34, 0.21) 99.98%, rgba(131, 143, 157, 0.21) 99.99%, rgba(143, 115, 89, 0.21) 100%);
}
/*****************************/



